<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120230909182242.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4e4ffc57-be23-4bde-b8ad-202046b63c26/resourcegroups/CompetencyTrainingRG/providers/Microsoft.Web/sites/FunctionApp120230909182242</ResourceId>
    <UserName>$FunctionApp120230909182242</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp120230909182242.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>